span {
    font-family: 'Times New Roman';
    font-size: 30px;
    color: red;
}
body {
    background-image: url("https://images.pexels.com/photos/416676/pexels-photo-416676.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}