body{
    background-color: #EAE7DC;
}
.container{
    height: 100px;
    margin-left: 35%;
    text-align: left; 
    padding: auto;
    color: white; 
}
h1{
    color: white;
}
h2{
    font-size:;
    color: white;
}
h3{
    font-size: 20px;
    margin-top: 20px;
    color: white;
}
.footer{
    position: relative;
    margin-top: 15%;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.row{
  text-align:
}
#genericFooter {
    color:white; 
}