body{
    background-color: #EAE7DC;
}
h1{
    color: white;
}
.header{
    font-family: 'Courier New', Courier, monospace;
}
h3{
    font-size: 11;
    color:black;
    margin-left: 10px;
}
#genericHeader{
    height: 50px;
    background-color: #2A5B84;
    margin: auto;
    text-align: left; 
    padding: 10px;
}
#genericNav{
    height: 30px;
    background-color: #2A5B84;
    margin: auto;
    text-align: left; 
    padding: auto;
}
#headerText{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 25px;
    margin-right: 10px;
}
#headerSubtext{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
a {
    color: white;
}
a:hover{
    color: rgb(170, 189, 170);
}
.btn{
    margin-left: 1%;
    margin-bottom: 2;
}
.container{
    position: relative;
    width: 100%;
    right: 0;
    padding: 0%;
    right: 4%;
    left: 1%;
}
/*.container2{
    position: fixed;
    width: 10%;
    right: 0;
    padding: 0%;
    right: 4%;
    left: 1%;
}*/
.picture{
    height: 200px;
    width: 100%;
    position: relative;
    padding-bottom: 1%;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    display: block;
    border-radius: 15px;
}
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.pic-container:hover .picture{
    opacity: 1;
}
.pic-container:hover .middle{
    opacity: 1; 
}
.col-xs-12, .col-md-4{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 15px;
    position: relative;
}
h4{
    font-size: 15px;
}

#sidebar{
    display: table-cell;
    width: 15%;
    vertical-align: top;
}
#spotguide{
    display: table-cell;
    width: 85%;
    vertical-align: top;
}
#sidebarbtn{
    margin-bottom: 10px;
    width: 60%;
    margin-left: 10px;
}
#navbar{
    display: table-cell;
    width: 25%;
    vertical-align: top;
}
  .show{
      display:block;
  }
  #map{
    height: 350px;
    width: 100%;
    margin-bottom: 20px;
  }
  .btnfilter{
      width: 80%;
      margin: 2px;
      border-radius: 10px;
  }
  #genericFooter{
    height: 50px;
  }
  #navBtn{
      padding: 3px;
      margin: 5px;
      border-radius: 10px;
  }
  .bucketlist-btn{
      visibility: hidden;
      border-radius: 10px;
  }
  .remove-btn{
      visibility: hidden;
      border-radius: 10px;
  }
  .login{
      padding: 3px;
      margin: 5px;
      visibility: visible;
  }
  .logout{
    padding: 3px;
    margin: 5px;
    visibility: hidden;
    border-radius: 10px;
  }