body{
    background-color: #EAE7DC;
}
h1{
    color: white;
}
.header{
    font-family: 'Courier New', Courier, monospace;
}
.container-fluid{
    height: 100px;
    background-color: #2A5B84;
    margin: auto;
    text-align: left; 
    padding: auto;
}
h3{
    font-size: 11;
    color:black;
    margin-left: 10px;
}
#notauser{
    position: relative;
    color: white;
    top: 30px;
    right: 320px;
 }
#Username{
    font-size: 18px;
    position: relative;
    color: white;
}
#Password{
    font-size: 18px;
    position: relative;
    color: white; 
}
#loginResult{
    position: relative;
    top: 0px;
    right: -50px; 
    color: white
 }
.btn{
    margin-left: 1%;
    margin-bottom: 2;
}
.container{
    position: relative;
}
.picture{
    height: 200px;
    width: 100%;
    position: relative;
    padding-bottom: 1%;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    display: block;
}
.col-xs-12, .col-md-4{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 15px;
    position: relative;
}
h4{
    font-size: 15px;
}

#sidebar{
    display: table-cell;
    width: 15%;
    vertical-align: top;
}
#spotguide{
    display: table-cell;
    width: 85%;
    vertical-align: top;
}
#sidebarbtn{
    margin-bottom: 10px;
    width: 60%;
    margin-left: 10px;
}
#navbar{
    display: table-cell;
    width: 25%;
    vertical-align: top;
}
#logginn{
    display: table-cell;
    width: 50%;
    position:absolute;
    top:10px;
    right: 20px;
}
#passwordbox{
    display: table-cell;
    width: 50%;
    position:absolute;
    top:9.5px;
    right: -100px;
}
  .show{
      display:block;
  }
  #map{
    height: 275px;
    width: 100%;
    margin-bottom: 20px;
  }
